* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  background-color: rgb(113, 147, 179);
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

/*** HEADER ***/

.header {
  text-align: center;
  color: white;
  position: relative;
}

.gif {
  max-width: 100%;
  left: 0px;
  top: 0px;
}

.navigatie {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 0vh;
  justify-content: space-between;
  width: 100vw;
}

.titel {
  font-size: 15vh;
  font-weight: bold;
  text-align: left !important;
  padding-left: 6vh;
  margin: 0;
}

.tabs {
  display: flex;
  padding-left: 50px;
}

.tabs__info {
  list-style: none;
  padding-right: 6vh;
}

.tab-text {
  text-align: right !important;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.tab-text:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

/*** BODY ***/

.section {
  position: relative;
}

.t-titel {
  font-size: 6vh;
  font-weight: bold;
  margin: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

/*** EXPERIMENTEN ***/

.links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 3vh;
  font-weight: bold;
  margin: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.image {
  width: max-content;
  vertical-align: middle;
  padding: 10px;
  opacity: 40%;
}

.image:hover {
  opacity: 100%;
  width: 30vh;
}

p {
  text-decoration: none;
  color: rgba(0, 0, 253, 0.247);
  font-weight: normal;
  font-size: 12px;
  padding: 0px;
  margin: 0;
}

/*** INSPIRATIE ***/

.gallery {
  padding-left: 10px;
  padding-right: 10px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
}

.gallery-column {
  flex: 12.5%;
  max-width: 12.5%;
}

/*** gallery layout ***/

.gallery__link {
  position: relative;
}

.gallery-img {
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(100%);
  opacity: 50%;
}

.caption {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 18px;
  text-align: left;
}

.gallery__link:hover {
  overflow: hidden;
}

.gallery-img:hover {
  transition: 0.5s;
  opacity: 100%;
  filter: grayscale(0);
  transform: scale(1.2);
  overflow: hidden;
}

.gallery__link:hover .caption {
  opacity: 1;
  

/*** FOOTER ***/

.footer {
  color: rgb(255, 255, 255);
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
}

.naam {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
