* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  background-color: rgb(113, 147, 179);
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

/*** HEADER <img class="achtergrond" src="web-image/ achtergrond.JPG" alt="" /> ***/

.header {
  text-align: center;
  color: white;
  position: relative;
}

.gif {
  overflow-y: hidden;
  max-height: 100%;
  left: 0px;
  top: 0px;
  padding-top: 0px;
}

.navigatie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0vh;
  width: 100%;
  margin-top: 20px;
}

.titel {
  font-size: 15vh;
  font-weight: lighter;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.tabs {
  display: flex;
}

.tabs__info {
  list-style: none;
}

.tab-text {
  text-align: center;
  font-size: 2vh;
  font-weight: normal;
  text-decoration: none;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.tab-text:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.vraag {
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding-top: 220px;
}

/*** BODY ***/

.section {
  position: relative;
  padding-top: 6vh;
}

.t-titel {
  font-size: 5vh;
  font-weight: normal;
  margin-left: 1vw;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*** PROJECT ***/
.fotobook {
  margin-left: 1vw;
  margin-right: 1vw;
}

.fotobook-row {
  display: flex;
  flex-wrap: wrap;
}

.fotobook-column {
  width: 25%;
  max-width: 100%;
}

.image-kid {
  padding: 3px;
  display: block;
  width: 100%;
}

.opstelling-galery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: auto;
  grid-gap: 6px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 60px;
}

.opstelling-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

video {
  object-fit: contain;
}

/*** EXPERIMENTEN ***/

.links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
  grid-gap: 6px;
  margin-left: 1vw;
  margin-right: 1vw;
}

h2 {
  font-size: 2vh;
  font-weight: lighter;
  padding-top: 20px;
  padding-left: 1vw;
  color: rgb(255, 255, 255);
}

.image {
  width: max-content;
  vertical-align: middle;
  padding: 0;
  opacity: 40%;
}

.image:hover {
  opacity: 100%;
  width: 30vh;
}

/*** INSPIRATIE ***/

.gallery {
  padding-left: 1vw;
  padding-right: 1vw;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
}

.gallery-column {
  flex: 12.5%;
  max-width: 12.5%;
}

/*** gallery layout ***/

.gallery__link {
  position: relative;
  padding: 3px;
  filter: grayscale(100%);
  opacity: 50%;
}

.gallery-img {
  vertical-align: middle;
  width: 100%;
}

.caption {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white;
  width: 97%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: left;
}

.gallery__link:hover {
  transition: 0.5s ease;
  opacity: 100%;
  filter: grayscale(0%);
}

.gallery__link:hover .caption {
  opacity: 1;
  transition: 0.5s ease;
}
/*** FOOTER linear-gradient(0deg, rgba(113, 147, 179, 2.9) 0%, rgba(255, 255, 255, 0) 100%);***/

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 20px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: rgb(113, 147, 179);
}

.footer-naam {
  position: relative;
  text-align: left;
  color: white;
}

.foo-nav {
  display: flex;
}

.footer-text {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
.footer-text:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.footer-titel {
  text-align: right;
  position: relative;
  text-decoration: none;
  color: white;
}
