.slidecontainer {
  padding-left: 20px;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  position: relative;
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: white; /* Grey background */
  opacity: 100%;
  cursor: pointer;
  outline: 2px;
  outline-style: solid;
  outline-color: blue;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: blue;
  cursor: pointer;
}

p {
  margin-bottom: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: blue;
}
